
:root {
  --red: #f44336;
  --grey-light: #bdbdbd;
  --grey: #878687;
  --grey-dark: #4b4b4b;
  --text: #4b4b4b;
  --blue-light: #79adf3;
}

@custom-media --large only screen and (width >= 992px);

body {

  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body * {
  box-sizing: inherit;
}

.block {
  min-height: 100vh;

  @media (--large) {
    background-image: linear-gradient(180deg, #3272cf 0, #589dc7 50%, #8ab7cb);
    background-color: #8ab7cb;
    background-repeat: no-repeat;
  }
}

.inner {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @media (--large) {
    min-height: calc(100vh - 80px);
    padding-top: 80px;
    padding-bottom: 80px;
  }

}


.form {
  max-width: 400px;
  width: 100%;
  background: #fff;
  padding: 16px;
  border-radius: 8px;
}

.title {
  font-weight: 100;
  text-align: center;
  margin: 20px 0;
}

.toolbar {
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  margin-bottom: 16px;
}

label {
  display: block;
  padding-bottom: 8px;
  font-weight: 100;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  font-size: 100%;
  padding: 12px;
  color: var(--grey-dark);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--grey-light);
  outline: 0;
}

input:focus {
  color: var(--grey-dark);
  border-color: var(--blue-light);
  box-shadow: 0px 0px 1px 1px var(--blue-light);
}

input::placeholder {
  color: var(--grey-light);
}

.labelErrors {
  color: var(--red);
}

.inputErrors.inputErrors {
  border-color: var(--red);
}

.inputErrors:focus {
    box-shadow: 0px 0px 1px 1px var(--red);
}

.errors {
  font-size: 12px;
  color: var(--red);
  margin-top: 4px;
}

.submit {
  display: block;
  width: 100%;
  font-size: 100%;
  background: none;
  border-radius: 8px;
  padding: 12px;
  background-color: #60bdfb;
  color: #fff;
  margin-top: 28px;
  cursor: pointer;
  position: relative;
  outline: 0;
  border: 0;
  min-height: 44px;
}

.submit:hover, .submit:focus {
  background-color: #46aef3;
  box-shadow: 0px 0px 1px 1px var(--grey-light);
}

.separator {
  text-align: center;
  margin-bottom: 16px;
}

.separatorBorder {
  position: relative;
  top: 12px;
  height: 2px;
  background: var(--grey-light);
}

.separatorLabel {
  background: #fff;
  padding: 4px;
  position: relative;
}

.buttonHolder {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.globalError {
  background: var(--red);
  padding: 16px;
  color: #fff;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}

.globalErrorIcon {
  font-size: 14px;
}

.complete {
  display: flex;
  justify-content: center;
}

.completeLine {
  display: flex;
}